/* app global css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


@font-face {
    font-family: inconsolata;
    src: url(./fonts/inconsolata.woff);
  }
  
    
  .my-font {
    font-family: 'inconsolata';
  }